* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1400px;
    min-height: 100vh;
  }
}

.action-button {
  width: 290px;
  height: 48px;
  border-radius: 2px;
  border: none;
  background-color: #3142c4;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 1400px) {
  .action-button {
    width: 160px;
  }
}

.learn-more-btn {
  line-height: 13px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px #e6e6e6;
  color: #3142c4;
}
@media screen and (min-width: 1400px) {
  .learn-more-btn {
    width: 158px;
  }
}

@media screen and (min-width: 1400px) {
  .hide-desktop {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .hide-mobile {
    display: none;
  }
}

.top__section {
  background-color: #f3c7be;
}
@media screen and (min-width: 1400px) {
  .top__section {
    padding-top: 39px;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-left: 15px;
  background-color: #ffffff;
}
@media screen and (min-width: 1400px) {
  .header {
    margin: auto;
    width: 1140px;
    height: 62px;
    background-color: #f3c7be;
  }
}
.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}
.header__menu-button {
  margin-left: auto;
  width: 58px;
  height: 100%;
  border: none;
  border-left: 1px solid #00000026;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-button {
    display: none;
  }
}
.header__menu-icon {
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  display: inline-block;
}

.logo {
  display: flex;
}
.logo__img {
  margin-right: 13px;
  height: 48px;
  width: 48px;
}
@media screen and (min-width: 1400px) {
  .logo__img {
    margin-right: 15px;
    height: 60px;
    width: 60px;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    line-height: 25px;
    font-size: 18px;
    opacity: 0.6;
  }
}

.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;
}
@media screen and (max-width: 1399px) {
  .navigation {
    display: none;
  }
}
.navigation__item {
  margin-left: 50px;
  text-decoration: none;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  display: inline-block;
  margin-left: 11px;
  width: 8px;
  height: 5px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
}

@media screen and (min-width: 1400px) {
  .headline {
    display: flex;
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 76px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
  }
}
.headline__title {
  width: 290px;
  height: 205px;
  margin: 35px 15px 0;
  line-height: 50px;
  font-size: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    margin: 0;
    line-height: 78px;
    font-size: 80px;
    letter-spacing: -0.5px;
  }
}
.headline__description {
  width: 290px;
  height: 172px;
  margin: 24px 15px 0;
  line-height: 34px;
  font-size: 24px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    width: 456px;
    height: 102px;
    margin: 0;
    margin-top: 34px;
  }
}
.headline__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    flex-direction: row;
    margin-top: 58px;
  }
}
.headline__learn-more-btn {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
.headline__banner {
  width: 100%;
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    top: 8px;
    right: -105px;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

.about {
  width: 100%;
  padding: 46px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 29px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  margin: 0;
  line-height: 32px;
  font-size: 22px;
}
.article__text {
  margin: 0;
  margin-top: 6px;
  font-size: 22px;
  line-height: 32px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 106px;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 29px;
  width: 100%;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #807f81;
  margin-top: 20px;
}

.features {
  display: flex;
  position: relative;
  padding-bottom: 103px;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__left-decoration {
  position: absolute;
  top: 258px;
  height: 166px;
}
.features-content {
  display: flex;
  margin: auto;
  width: 1140px;
}
.features__column {
  width: 459px;
}
.features__subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 22px;
  color: #009b4d;
}
.features__title {
  margin: 0;
  margin-top: 24px;
  line-height: 56px;
  font-size: 56px;
  letter-spacing: -0.5px;
}
.features__description {
  margin: 0;
  margin-top: 30px;
  line-height: 34px;
  font-size: 24px;
}
.features__advantage-header {
  display: flex;
  margin-top: 42px;
}
.features__advantage-title {
  margin: 0;
  margin-left: 15px;
  line-height: 26px;
  font-size: 22px;
  color: #3142c6;
}
.features__advantage-description {
  margin: 0;
  margin-top: 8px;
  padding-bottom: 20px;
  line-height: 26px;
  font-size: 18px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  display: flex;
  margin-top: 21px;
  padding-bottom: 22px;
  border-bottom: 1px solid #dfdfe0;
}
.features__advantage-item_text {
  margin-left: 15px;
  line-height: 26px;
  font-weight: 700;
  font-size: 22px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.audience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  background-color: #00a1c612;
}
@media screen and (min-width: 1400px) {
  .audience {
    width: 100%;
    padding: 108px 131px 110px 130px;
  }
}
.audience__subtitle {
  line-height: 34px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}
.audience__title {
  margin: 0;
  margin-top: 17px;
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  letter-spacing: -0.357143px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-top: 24px;
    width: 555px;
    line-height: 56px;
    font-size: 56px;
    letter-spacing: -0.5px;
  }
}
.audience__description {
  margin: 0;
  margin-top: 18px;
  line-height: 34px;
  text-align: center;
  font-size: 24px;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    margin-top: 30px;
    width: 555px;
    height: 72px;
  }
}
.audience__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__actions {
    flex-direction: row;
    margin-top: 34px;
  }
}
.audience__learn-more-btn {
  margin-top: 12px;
  color: #000000;
}
@media screen and (min-width: 1400px) {
  .audience__learn-more-btn {
    margin: 0;
    margin-left: 10px;
  }
}
.audience__items {
  margin-top: 40px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__items {
    display: flex;
    margin: 0;
    margin-top: 111px;
  }
}
.audience__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  padding: 22px 20px 33px;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .audience__item {
    margin: 0;
    margin-right: 30px;
    padding: 22px 25px 33px;
  }
}
.audience__item:hover {
  background-color: #3142c5;
  color: #ffffff;
}
.audience__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1400px) {
  .audience__item:last-child {
    margin-right: 0;
  }
}
.audience__item-caption {
  margin-top: 22px;
  line-height: 28px;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    flex-direction: row;
    justify-content: center;
    padding: 73px 0 72px 0;
  }
}
.order__illustration {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin-right: 121px;
  }
}
@media screen and (min-width: 1400px) {
  .order__details {
    max-width: 555px;
    display: flex;
    flex-direction: column;
  }
}
.order__title {
  margin: 0;
  margin-top: 40px;
  line-height: 40px;
  font-size: 40px;
  text-align: center;
  letter-spacing: -0.25px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    margin: 0;
    text-align: start;
  }
}
.order__text {
  margin: 0;
  margin-top: 18px;
  line-height: 32px;
  font-size: 22px;
}
@media screen and (min-width: 1400px) {
  .order__text {
    margin-top: 12px;
  }
}
.order__form {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  width: 100%;
  min-height: 48px;
  line-height: 13px;
  border: 1px solid #d5d4d5;
  border-radius: 2px;
  font-size: 18px;
  text-align: center;
}
.order__email::placeholder {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-right: 10px;
  }
}
.order__button {
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .order__button {
    flex-shrink: 0;
    margin-top: 0;
  }
}
.order__terms {
  margin: 0;
  margin-top: 10px;
  line-height: 22px;
  font-size: 14px;
  color: #807f81;
}
.order__terms-link {
  color: #3142c6;
}

.footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer {
    margin-top: auto;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}
.footer__description {
  display: none;
  width: 360px;
  margin-top: 26px;
  line-height: 26px;
  font-size: 18px;
  color: #807f81;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer__line {
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid #e3e3e3;
}
@media screen and (min-width: 1400px) {
  .footer__line {
    margin: 0;
    border-top: 1px solid #2b292d;
    opacity: 0.1;
  }
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    flex-direction: row;
    margin: 0 auto;
    height: 338px;
    width: 1140px;
  }
}

.about-company {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .about-company {
    margin-top: 48px;
  }
}

.downloads {
  display: flex;
  justify-content: center;
  margin: 31px 15px 0 15px;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: flex-start;
  }
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    height: 185px;
    margin-right: 29px;
  }
}

.nav-links {
  margin-top: 30px;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .nav-links {
    width: 265px;
    margin: 0;
  }
}
.nav-links__title {
  margin: 0;
  line-height: 28px;
  font-size: 22px;
}
.nav-links__list {
  margin: 0;
  margin-top: 18px;
  line-height: 30px;
  padding: 0;
  list-style-type: none;
  color: #807f81;
  font-size: 18px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    align-items: center;
    width: 1140px;
    height: 50px;
    margin: 0 auto;
  }
}

.terms {
  margin-top: 30px;
  line-height: 22px;
  font-size: 14px;
}
@media screen and (min-width: 1400px) {
  .terms {
    margin: 0;
  }
}
.terms__item {
  margin-right: 22px;
  text-decoration: none;
  color: #807f81;
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin: 0;
    margin-left: auto;
  }
}
.social-links__item {
  margin-left: 20px;
  text-decoration: none;
}
.social-links__item:first-child {
  margin-left: 0;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__img {
  width: 60px;
  height: 60px;
}
.logo-vertical__text {
  margin-top: 20px;
  width: 290px;
  text-align: center;
}
.logo-vertical__name {
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
}
.logo-vertical__description {
  line-height: 25px;
  font-size: 18px;
  color: #807f81;
}

/*# sourceMappingURL=styles.css.map */
