.top__section {
  background-color: $color-light-pink;

  @include for-large-up {
    padding-top: 39px;
  }
}

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-left: 15px;
  background-color: $color-white;

  @include for-large-up {
    margin: auto;
    width: 1140px;
    height: 62px;
    background-color: $color-light-pink;
  }

  &__button {
    display: none;

    @include for-large-up {
      display: block;
    }
  }

  &__menu-button {
    margin-left: auto;
    width: 58px;
    height: 100%;
    border: none;
    border-left: 1px solid $border-color-black;
    background: transparent;

    @include for-large-up {
      display: none;
    }
  }

  &__menu-icon {
    width: 18px;
    height: 13px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
    display: inline-block;
  }
}

.logo {
  display: flex;

  &__img {
    margin-right: 13px;
    height: 48px;
    width: 48px;

    @include for-large-up {
      margin-right: 15px;
      height: 60px;
      width: 60px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    line-height: 25px;
    font-size: 20px;
    font-weight: 700;
  }

  &__description {
    display: none;

    @include for-large-up {
      display: block;
      line-height: 25px;
      font-size: 18px;
      opacity: 0.6;
    }
  }
}

.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-right: 75px;

  @include for-large-down {
    display: none;
  }

  &__item {
    margin-left: 50px;
    text-decoration: none;

    &_selected {
      font-weight: 700;
    }
  }

  &__arrow {
    display: inline-block;
    margin-left: 11px;
    width: 8px;
    height: 5px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  }
}
