$color-light-grey: #807f81;
$color-blue: #3142c5;
$color-dark-blue: #3142c6;
$color-light-blue: #3142c4;
$color-black: #000000;
$color-light-pink: #f3c7be;
$color-light-beige: #f4f5f7;
$color-beige: #e3e3e3;
$color-dark-grey: #2b292d;
$color-white: #ffffff;
$color-green: #009b4d;
$background-light-blue: #00a1c612;
$border-color-black: #00000026;
$border-color-light: #e6e6e6;
$border-color-quartz: #dfdfe0;
$border-color-light-grey: #d5d4d5;
